@import "./reset.scss";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
}